@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
  margin: 0;
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  color: white;
  background-image: url("./images/background.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: Rubik, sans-serif;
  background-color: transparent;
  border: none;
}


.infinite-scroll {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}

.chat-first-wrapper {
  border-top: 5px solid transparent;
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  cursor: row-resize;
}

.chat-second-wrapper {
  border-right: 5px solid transparent;
  display: inline-block;
  cursor: col-resize;
}


.infinite-scroll::-webkit-scrollbar {
  width: 0;
  display: none;
}

.chat {
  cursor: default;
  &__messages {
    background-color: rgba(0, 0, 0, 0.33);
  }

  &__menu-wrapper {
    position: relative;
    span {
      width: 15px;
      height: 15px;
      background-image: url("./images/arrow.svg");
      cursor: pointer;
      position: absolute;
      right: -15px;
      top: 50%;
      z-index: 1000;
      transform: translate(0, -50%);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__menu {
    max-width: 210px;
    overflow: scroll;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 8px;
    height: 100%;
    position: relative;
    -webkit-mask-image: linear-gradient(90deg, #000 90%, transparent);

    button {
      color: #23B838;
      height: 40px;
    }

    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }


  &__input-group {
    position: relative;
  }

  &__up-buttons {
    display: flex;
    align-items: center;
  }



  &__head {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    [alt="expand"], [alt="collapse"] {
      margin-right: 10px;
      cursor: pointer;
    }
    select {
      margin-right: 10px;
      color: white;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-repeat: no-repeat;
      background-position: center right;
      background-color: transparent;
      background-image: url("./images/rotated-arrow.svg");
      min-width: 42px;
      &:focus {
        outline: none;
      }
    }
  }


  &__smile {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
  }


  &__message-user {
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    &-photo {
      margin-right: 5px;
    }
    &-name {
      color: #999999;
      margin-right: 5px;
    }
    &-number {
      color: #23B838;
    }
  }

  &__message-content {
    padding: 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 224px;
    overflow-wrap: break-word;

    &--right {
      border-bottom-left-radius: 20px;
      background-color: #212121;
      color: white;
    }

    &--left {
      border-bottom-right-radius: 20px;
      background-color: white;
      color: black;
    }
  }

  &__message {
    margin: 4px 0;
    display: flex;
    justify-content: flex-end;

    &:first-child {
      margin-bottom: 8px;
    }
    &:last-child {
      margin-top: 8px;
    }
    &--right {
      margin-right: 10px;
    }

    &--left {
      margin-left: 10px;
      flex-direction: row-reverse;
    }
  }

  &__message-time {
    width: 40px;
    min-width: 40px;
    font-size: 12px;
    opacity: 0.4;
    display: flex;
    align-items: center;
    &--right {
      justify-content: flex-start;
    }
    &--left {
      justify-content: flex-end;
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0 solid transparent;
    color: white;
    font-family: Rubik, sans-serif;
    padding: 12px 50px 12px 20px;
    font-size: 13px;
    &::placeholder {
      color: white;
      opacity: 0.4;
    }
    &:focus {
      outline: none;
    }
  }
}